/* Box sizing em border-box para que a largura e altura incluam no calculo o padding e o border */
html{
    box-sizing: border-box;
}
/* Aqui foi adotado uma pratica para que o box-size herdasse do elemento pai sua configuração */
*, *::before, *::after{
    box-sizing: inherit;
}
/* Fonte e cores, Aqui crio variaveis de cores para serem utilizadas em todo esse arquivo CSS */
body{
    --radius: 0.35rem;
    --color-background: #bebebe;
    --color-background2: #ffffff;
    --color-text: #000000;
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background2);
}
body.darkmode{
    --color-background: #212E37;
    --color-background2: #2b3743 ;
    --color-text: #ffffff;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


/* Margens */
.margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Barra Superior */
.navbar{
    background-color: var(--color-background2);
    box-shadow: var(--box-shadow);
    width: 100%;
}

.navbar-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* Botão */
.btn-darkmode{
    background-color: var(--color-background2);
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    color: var(--color-text)
}
.btn-darkmode:hover {
    opacity: 0.6;
    

}
/* Filtros */
.filter-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    box-shadow:var(--box-shadow) ;
    border-radius: 0.2rem;
    background-color: var(--color-background2);
    padding: 1rem;
    height: 50px;
    width: 400px;
    color: var(--color-text);
    
    

}
.search i{
    
    color: var(--color-text)
    
    
}
input::placeholder {
    color: var(--color-text);
}
#input-fomulary{
    border: none;
    outline: none;
    margin-left: 2rem;
    background-color: var(--color-background2);
    color: var(--color-text);
}

/* Espaçamento entre os cards */
.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 3rem;
}   
/* Cartão */
.card{
    background-color: var(--color-background2);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    width: 280px;    
}

.country-img{
    min-height: 160px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    

}

.card-content{
    margin-bottom: 2rem;
    margin-left: 1rem;
       
}
.border-countries{
    display: flex;
    align-items: center;
    margin-left: 4.5rem;   
} 
.border-countries-label{
    margin-right:1rem;
    display: inline-flex;
}
.country-btn{
    border: 1px solid transparent;
    border-radius: 2px;
    height: 1.5rem;
    width: 6rem;
    margin-right:1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background: var(--elements-color); 
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}


  
  .box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }
  
  .cardbox {
    background-color: var(--color-background2);
    padding: 30px;
    border-radius: 4%;
    box-shadow: var(--box-shadow);
    width: 370px;
    
  }
  #return, #return a{
      color: var(--color-text);
  }
  #return:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    
}
  
  h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-text);
  }
  
  .label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid var(--color-text);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
  }
  
  .label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid var(--color-text);
  }
  
  .label-float label{
    color: var(--color-text);
    pointer-event: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
  }
  
  .label-float input:focus + label,
  .label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--color-text)
  }
  
  
  .justify-center{
    display: flex;
    justify-content: center;
  }

  
  hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
  }
  
  p{
    color: var(--color-text);
    font-size: 14p;
  }
  
  a{
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  
a:hover{
    color: var(--color-text);
}
  
.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: var(--color-text);
}
  
.btn{
        background-color: transparent;
        border-color: var(--color-text);
        color: var(--color-text);
        padding: 7px;
        font-weight: bold;
        font-size: 12pt;
        margin-top: 20px;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: all .4s ease-out;
}
      
.btn:hover{
        background-color: var(--color-text);
        color: var(--color-background2);
}
  
#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
  
#msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

/* Responsividade */
@media (max-width: 1200px){
    .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}    
@media (max-width: 1000px){
        .navbar-content{
            font-size: 0.7rem;
        }
        .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        
}

@media (max-width: 658px){
    .navbar-content{
        font-size: 0.7rem;
    }
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    .filter-content{
        flex-direction: column;
        align-items: center;
    }
    .search{ 
        margin-bottom: 1rem;
        width: 100%;
    }
    #input-fomulary{
        width: 50%;   
    }
    .modal{
        display: flex;
        flex-direction: column;   
    }
    .countryModal{
        
    }
    .modalInfo{
        display: flex;
        flex-direction: column;
        
    }
    #flagimg{
        width: 500px;

    }
    .rightModal{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .btn-darkmode{
        bottom: 10px;
    }
    .card{
        width: 95%;
    }
    .country-img{
        width: 100%;
    }
  
}